limit_req_zone $remote_user zone=mylimit:10m rate=5r/s;

server {
       listen 127.0.0.1:80;

       server_name {{ nginx_domain }};

       root {{ nginx_root }};
       index index.html;

       location / {
               try_files $uri $uri/ =404;
       }
}

server {
       listen 127.0.0.1:443 ssl;

       server_name {{ nginx_domain }};

       ssl on;
       ssl_certificate {{ nginx_cert_path }};
       ssl_certificate_key {{ nginx_key_path }};

       root {{ nginx_root }};
       index index.html;

       location ~* ^/(hsm-pa[0-9]-h[0-9]*)/(.*) {
           limit_req zone=mylimit;
           limit_req_status 444;
           resolver 127.0.0.53;
           proxy_pass http://$1:{{ api_port }}/$2$is_args$args;
           auth_basic           "Please provide basic auth";
           auth_basic_user_file /etc/nginx/passwdfile;
       }

       location / {
           return 200 'location default';
       }
}

server {
       listen 0.0.0.0:8080 ssl;

       server_name {{ nginx_domain }};

       ssl on;
       ssl_certificate {{ nginx_cert_path }};
       ssl_certificate_key {{ nginx_key_path }};

       root {{ nginx_root }};
       index index.html;

       location / {
           proxy_pass http://localhost:8081;
       }
}
