[Unit]
Description= HSM API to expose functions
After=network-online.target
 
[Service]
Environment="API_PORT={{ API_PORT }}"
Environment="LD_LIBRARY_PATH=/opt/safenet/protecttoolkit5/pcihsm2/lib/linux-x86_64:/opt/safenet/protecttoolkit5/cprt/lib/linux-x86_64:/opt/safenet/protecttoolkit5/ptk/lib"
Environment="PTKLIB=/opt/safenet/protecttoolkit5/ptk/lib"

Type=simple 
ExecStart=/usr/bin/hsm-api
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
